@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


html{
    scroll-behavior: smooth;
}
body{
    background-image: radial-gradient(white, #cad7f5);
}




.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.04vw;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
    box-shadow: 0px 10px 18px rgb(216, 215, 215);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.6vw;
    height: 100px;
    z-index: 10;
    width: 100%;
    background-color: rgba(245, 235, 235, 0.6); 
    backdrop-filter: blur(10px); 
  }


.logo{
    margin-left: 2.6vw;
}

.logo:hover{
    scale: 1.05;
}

#about, #skills, #project, #contact-form{
    scroll-margin: 150px;
    scroll-behavior: smooth;
}

.button>*{
    border: none;
    background-color: transparent;
    color: rgba(22, 22, 22, 0.918);
    font-size: larger;
    padding: 0.6vw;
    padding-top: 30px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    

}
a{
    text-decoration: none;
    color: inherit;
}

.button{
    margin-right: 1.667vw;
    display: block;

}

.button>*:hover{
    scale: 1.1;
    color: rgb(252,170,28);
}

.contact{
    background-color: rgb(235, 155, 8);
    color: white;
    padding: 5px 24px;
    font-size: medium;
    border-radius: 24px;
    box-shadow: 0 18px 26px rgb(196, 141, 40);
    margin-left: 1.5vw;  
    margin-right: 4.1vw;
    transition: all 0.1s ease-in-out;
}
.contact:hover{
    color: white;
}

.ham-brg{
    display: none;
}


.hi{
    font-size: clamp(1rem, 5vw, 6rem);
    color: rgb(41, 29, 59);
    margin-bottom: 2vw;
    
}

.main{
    display: flex;
    gap: 3.4vw;
    margin: 6vw;

}

.name{
    color: rgb(252,167,35);
    display: block;
    white-space: nowrap;

}



.about{
    color: rgb(156, 165, 186);
    font-weight:550;
    font-size: 18px;
    max-width: 35rem;
    letter-spacing: 1px;
    line-height: 1.2;
}

.hire{
    background-color: rgb(235, 155, 8);
    color: white;
    padding: 6px 3.7vw;
    font-size: medium;
    border-radius: 15px;
    box-shadow: 0 14px 22px rgb(196, 141, 40);
    border: none;
    transition: all 0.1s ease-in-out;

}



.btn-hire{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.hire:hover{
    scale: 1.05;
}

.resume{
    margin-left: 10px;
}

.resume a {
    text-decoration: none;
    color: white;
}

.twitter-icon a{
    color: rgb(29,161,242);
    text-decoration: none;
}

.twitter-icon{
    animation: moveRandomly1 7s linear infinite alternate;
    position: relative;
    top: 180px;
    left: -100px;
    cursor: pointer;
}

.star-icon{
    color: rgb(255,215,0);
    animation: moveRandomly2 9s linear infinite alternate;
    position: relative;
    top: -50px;
    left: -80px;
    cursor: pointer;

}
.link-icon a{
    text-decoration: none;
    color: rgb(10,102,194);

}

.link-icon{
    animation: moveRandomly3 7s linear infinite alternate;
    position: relative;
    top: 40px;
    left: 120px;
    cursor: pointer;
}

.git-icon a{
    color: rgb(33,31,31);
    text-decoration: none;

}

.git-icon{
    animation: moveRandomly4 5s linear infinite alternate;
    position: relative;
    top: -50px;
    left: 100px;
    cursor: pointer;
}


.icons{
    font-size: 30px;
}

.profile{
    padding-top: 150px;
    padding-bottom: 30px;
}

.profile-cards{
     margin-top: 8vw;
     margin-left: 16vw;
}

@keyframes moveRandomly1 {
    0% {
        transform: translate(100px, 100px);
      }
      100% {
        transform: translate(-100px, -100px);
      }
  }
  
  @keyframes moveRandomly2 {
    0% {
        transform: translate(100px, 100px);
      }
      100% {
        transform: translate(-100px, -100px);
      }
  }
  
  @keyframes moveRandomly3 {
    0% {
        transform: translate(100px, 100px);
      }
      100% {
        transform: translate(-100px, -100px);
      }
  }
  
  @keyframes moveRandomly4 {
    0% {
        transform: translate(100px, -100px);
      }
      100% {
        transform: translate(-100px, 100px);
      }
  }
  
.services{
    margin: 6vw;
}
  
.awesome{
    font-size: 3rem;
    color: rgb(41, 29, 59);
    line-height: 1.6;
    letter-spacing: 1.2 rem;
}

.servies-detail{
    color: #9ca5ba;
    font-weight:500;
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    text-align: start;
    
}

.servies-detail a{
    text-decoration: none;
    color: #9ca5ba;
}


.card{
    background-color: white;
    border-radius: 15px;
    width: 250px;
    margin: 50px 10px;
    min-height: 240px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    margin: 20px auto;
}

.card h3{
    font-size: large;
    letter-spacing: 1px;
    color: rgb(24, 24, 24);
    text-align: center;
}

.card p{
    margin-top: 10px;
    text-align: center;
    color: #9ca5ba;
    font-weight: 500;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    margin: 5vw;
    
}

.tech{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 90px 6vw;
}

.tech img{
    background-color: white;
    padding: 15px 20px;
    border-radius: 5px;

}





.project-cards{
    display: flex;
    gap: 4vw;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px 8vw;
}



.project-card{
    width: 340px;
    background-color: #ffffff; /* Set the background color to white */
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;

}

.project-img{
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 2xl;
    border-top-right-radius: 2xl;

}

.outer-eye{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem; 
}
.eye-icon{
    background-color: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.eye{
    width: 50%;
    height: 50%;
    object-fit: contain;
    opacity: 1;
    color: white;
}


.outer-git{
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem; 
}

.github-icon{
    background-color: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.git{
    width: 50%;
    height: 50%;
    object-fit: contain;
    color: white;
}


.custom-section {
    padding: 0.5rem;
}

.custom-heading {
    color: rgb(59, 59, 59) ;/* You can replace this color with the desired value */
    font-weight: 600;
    font-size: 24px;
}

.custom-paragraph {
    color: #9ca5ba;
    font-size: 14px;
    padding-top: 0.5rem;
}



.form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: clamp(360px,60vw,900px);
    padding: 30px;
    padding-top: 60px;
    background-color: white;
    border-radius: 15px;
}

.input-box{
    padding: 15px;
    border-radius: 8px;
    outline: none;
    border: 0.8px solid;
    border-color: rgb(235, 155, 8);
    font-size: 1.1rem;
}


.text-box{
    border-color: rgb(235, 155, 8);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    outline: none;
    resize: vertical;
}


.submit-btn{
    align-self: self-start;
    padding: 8px 30px;
    margin-top: 40px;
    background-color: rgb(245, 179, 57);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 16px;
    box-shadow: 0 14px 22px rgb(196, 141, 40);

}


@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}



@media screen and (max-width : 760px){
    .profile-cards{
        position: absolute;
        padding-right: 4vw;
    }

    .button{
        /* display: flex; */
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 14px;
        padding: 10px;
        border-radius: 8px;
        background-color: white;
        animation: showMenu 0.5s ease-in-out forwards;
    
    }

    .button>*{
        /* padding-top: 5px; */
        padding: 0;
        font-size: 16px;
        font-weight: 500;
        color: black;
        text-decoration: none;

    }

    
    .button>*:hover{
        scale: 1;
    }
    


      .menu-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 7px;

      }

      .contact{
        margin-left: 0;
        padding: 4px 3.6vw;
        border-radius: 16px;
        color: white;
        font-size: normal;
      }
    
    
      .ham-brg {
        display: block;
        /* background: transparent; */
        cursor: pointer;
        margin-top: 5px;
        margin-bottom:18px ;
        align-self: flex-end;
        border: none;
        padding: 20px;
      }
}



@media screen and (max-width : 1020px){
    .profile-cards{
        position: absolute;
        padding-right: 5vw;
        margin-left: 30vh;
    }

    .main{
        gap: 10vw;
    }
}

